In [8]:
import mysql.connector as conn

mydb= conn.connect(host = "localhost",user="root", passwd='12345')
print(mydb)
# host will have a comapny provided url and user and passwd will also be provided by a company
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024D23687F40>
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024D23687F40>

In [9]:
# My SQL is a relational Database
# it stores datas in tabular format

In [10]:
cursor= mydb.cursor()
# A cursor is a pointer towards mysql database(shell). It helps execute mysql commands inside mysql server

cursor.execute('SHOW DATABASES')
print(cursor.fetchall())

[('ineuron',), ('information_schema',), ('mysql',), ('performance_schema',), ('photostore',), ('sakila',), ('sys',), ('world',)]

In [ ]:
cursor.execute('create database ineuron')
print(cursor.fetchall())
# NOTE: You need to have a cursor.fetchall() out to put all results, If any exists, before executing any further script.

In [ ]:
cursor.execute('create table ineuron.employers(emp_id int(10),emp_name varchar(50), emp_email varchar(30), emp_salary int(10) emp_attendence int(3)')
print(cursor.fetchall())
# You need

In [15]:
cursor.execute('''insert into ineuron.employers
               values(101,"Sudhansu Kumar","sudhansu@ineuron.ai",100,30)
               
               ''')
print(cursor.fetchall())
mydb.commit()

[]

In [16]:
cursor.execute('select * from ineuron.employers')

In [17]:
cursor.fetchall()

[(101, 'Sudhansu Kumar', 'sudhansu@ineuron.ai', 100, 30),
 (101, 'Sudhansu Kumar', 'sudhansu@ineuron.ai', 100, 30)]

In [ ]:
# ANCHOR: Testing


from __future__ import print_function
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='scott', database='employees')
cursor = cnx.cursor()

tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO employees "
               "(first_name, last_name, hire_date, gender, birth_date) "
               "VALUES (%s, %s, %s, %s, %s)")
add_salary = ("INSERT INTO salaries "
              "(emp_no, salary, from_date, to_date) "
              "VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)")

data_employee = ('Geert', 'Vanderkelen', tomorrow, 'M', date(1977, 6, 14))

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information
data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'from_date': tomorrow,
  'to_date': date(9999, 1, 1),
}
cursor.execute(add_salary, data_salary)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [4]:
add_salary = ("INSERT INTO salaries "
              "(emp_no, salary, from_date, to_date) "
              "VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)")
print(add_salary)

INSERT INTO salaries (emp_no, salary, from_date, to_date) VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)