# Central Limit Theorum

In [1]:
import scipy.stats as stats

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

data=sns.load_dataset('tips')

In [3]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
dataset_table=pd.crosstab(data['sex'],data['smoker'])
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [ ]:
stats.chi2_contingency()

# T-test

In [6]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]
len(ages)

32

In [9]:
# Taking sample
sample=np.random.choice(ages,size=10)
sample

array([43, 65, 18, 10, 20, 30, 43, 20, 17, 16])

In [17]:
from scipy.stats import ttest_1samp
tt=ttest_1samp(sample,30)

In [18]:
tt

TtestResult(statistic=-0.33237220631064707, pvalue=0.7472186406290562, df=9)